body {
background-color:
antiquewhite
 ;
font-family:
Verdana
 ;
font-size:
12
px;
color:
brown
 ;
padding-bottom:
20
px ;
scrollbar-face-color:
antiquewhite
;
scrollbar-highlight-color:
red
;
scrollbar-3dlight-color:
orange
;
scrollbar-darkshadow-color:
brown
;
scrollbar-shadow-color:
pink
;
scrollbar-arrow-color:
red
;
scrollbar-track-color:
ivory
;
  }
#header{height:
70
px;
border:
3
px solid
black
;
font: "Marker Felt",black
;
}
