<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'shop/css/vendor.css' %}"/>
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}"/>

    <title>Checkout</title>
  </head>
  <body class="bg-light">


    <!-- header -->
<header class="header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a href="/" class="navbar-brand order-1 order-lg-2"><img src="{% static 'shop/images/logo.svg' %}"
                                                                         alt="Logo"></a>

                <div class="collapse navbar-collapse order-4 order-lg-1" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown dropdown-sm dropdown-hover">
                            <a class="nav-link dropdown-toggle" href="{% url 'cart:cart_detail' %}"
                               id="navbarDropdown-1" role="button"  aria-haspopup="true"
                               aria-expanded="false">
                                Cart
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-lg dropdown-hover">
                            <a class="nav-link dropdown-toggle" href="{% url 'shop:product_list' %}"
                               id="navbarDropdown-2" role="button" aria-haspopup="true" aria-expanded="false">
                                Catalogue
                            </a>
                        </li>

                        <li class="nav-item dropdown-lg dropdown-hover">
                            <a class="nav-link dropdown-toggle text-red" href="#!" id="navbarDropdown-3" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sale
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown-3">
                                <div class="container">
                                    <div class="row gutter-1">
                                        <div class="col-lg-6">
                                            <div class="card card-tile">
                                                <figure class="card-image equal equal-50">
                                                    <span class="image"
                                                          style="background-image: url(static/shop/images/demo/menu-sale-1.jpg)"></span>
                                                </figure>
                                                <div class="card-footer p-1">
                                                    <div class="bg-white p-2">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <h4 class="fs-20"><a href="#">50% Sale on Cardigans</a>
                                                                </h4>
                                                            </div>
                                                            <div class="col text-right">
                                                                <a href="" class="underline">Shop Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card card-tile">
                                                <figure class="card-image equal equal-50">
                                                    <span class="image"
                                                          style="background-image: url(static/shop/images/demo/menu-sale-2.jpg)"></span>
                                                </figure>
                                                <div class="card-footer p-1">
                                                    <div class="bg-white p-2">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <h4 class="fs-20"><a href="#">20% Sale on Jewelery</a>
                                                                </h4>
                                                            </div>
                                                            <div class="col text-right">
                                                                <a href="" class="underline">Shop Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse order-5 order-lg-3" id="navbarMenu2">
                    <ul class="navbar-nav ml-auto position-relative">

                        <!-- search -->
                        <li class="nav-item dropdown dropdown-md dropdown-hover">
                            <a class="nav-icon dropdown-toggle" id="navbarDropdown-4" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-search d-none d-lg-inline-block"></i>
                                <span class="d-inline-block d-lg-none">Search</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="searchForm"
                                           placeholder="Search for items and brands">
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>

                <div class="order-2 d-flex d-lg-none" id="navbarMenuMobile">
                    <ul class="navbar-nav navbar-nav--icons ml-auto position-relative">

                        <!-- search -->
                        <li class="nav-item">
                            <a href="" class="nav-icon"><i class="icon-search"></i></a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>


    <!-- checkout -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Checkout</h1>
          </div>
        </div>

        <div class="row gutter-1">

          <div class="col">
            <form method="post" action="." class="order-form">{% csrf_token %}
            <!-- address -->
            <div class="bg-white p-2 p-lg-3 mb-1">
              <div class="row gutter-1 align-items-center">
                <div class="col-md-6">
                  <h2 class="text-uppercase fs-20">Delivery Address</h2>
                </div>
                <div class="col-md-6 text-md-right">
                  <a class="underline" data-toggle="modal" data-target="#adresses"><i class="icon-home"></i> Saved addresses</a>
                </div>
              </div>
              
              <fieldset class="mb-2">
                <div class="row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input name="first_name" type="text" id="inputName2" class="form-control form-control-lg" placeholder="Name" required="">
                      <label for="first_name">First Name</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input name="last_name" type="text" id="inputSurname2" class="form-control form-control-lg" placeholder="Surname" required="">
                      <label for="last_name">Surname</label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="mb-2">
                <div class="row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input name="address" type="text" id="inputAddress" class="form-control form-control-lg" placeholder="Address" required="" value="">
                      <label for="address">Address</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input name="email" type="text" id="inputApt" class="form-control form-control-lg" placeholder="Apt, Suite, etc. (optional)" required="">
                      <label for="email">Email</label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="mb-2">
                <div class="row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input name="city" type="text" id="inputCity" class="form-control form-control-lg" placeholder="City" required="">
                      <label for="city">City</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input name="postal_code" type="text" id="inputCity" class="form-control form-control-lg" placeholder="City" required="">
                      <label for="postal_code">Postal Code</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>


            <!-- payment -->
            <div class="bg-white p-2 p-lg-3 mb-1">
              <h2 class="mb-2 text-uppercase fs-20">Payment</h2>

              <fieldset class="mb-2">
                <div class="row">
                  <div class="col">
                    <div class="select-frame">
                      <select class="custom-select custom-select-lg" id="customPayment">
                        <option value="1">Credit / Debit Card</option>
                        <option value="2">Paypal</option>
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset class="mb-3">
                <div class="row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="text" id="inputCardNumber" class="form-control form-control-lg" placeholder="Card Number" required="">
                      <label for="inputCardNumber">Card Number</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-label-group">
                      <input type="text" id="inputExpiryDate" class="form-control form-control-lg" placeholder="Expiry Date (MM/YY)" required="">
                      <label for="inputExpiryDate">Expiry date (MM/YY)</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-label-group">
                      <input type="text" id="inputCvv" class="form-control form-control-lg" placeholder="CVV" required="">
                      <label for="inputCvv">CVV</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-label-group">
                      <input type="text" id="inputCardName" class="form-control form-control-lg" placeholder="Name on card" required="">
                      <label for="inputCardName">Name on card</label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <h3 class="mb-2 text-uppercase fs-16">We Accept</h3>
              <ul class="list list--horizontal">
                <li><img src="{% static 'shop/images/demo/visa-1.svg' %}" class="payment" alt="Image"></li>
                <li><img src="{% static 'shop/images/demo/master-card-1.svg' %}" class="payment" alt="Image"></li>
                <li><img src="{% static 'shop/images/demo/amex-1.svg' %}" class="payment" alt="Image"></li>
              </ul>
            </div>

            <!-- place order -->

            <div class="bg-white p-2 p-md-3">

              <button  type="submit" name="submit" value="Place order" class="btn btn-lg btn-primary btn-block mb-2">Place Order</button>


              <small class="text-muted">By placing your order you agree to our <a href="">Terms & Conditions</a>, privacy and returns policies. You also consent to some of your data being stored by SHOPY, which may be used to make future shopping experiences better for you.</small>
            </div>
           </form>
          </div>


          <!-- sidebar -->
          <aside class="col-lg-5">
            <div class="bg-white p-2 p-lg-3">
              <h2 class="mb-3 text-uppercase fs-20">Order total</h2>
              {% if cart %}
              {% for item in cart %}
                    {% with product=item.product %}
              <div class="cart-item">
                <a href="{{ product.get_absolute_url }}" class="cart-item-image"><img src="{{ product.image.url }}" alt="Image"></a>
                <div class="cart-item-body">
                  <div class="row">
                    <div class="col-9">
                      <h5 class="cart-item-title">{{ product.name }}</h5>
                      <ul class="list list--horizontal fs-14">
                        <li>${{ item.price }}</li>
                      </ul>
                    </div>
                    <div class="col-3 text-right">
                      <ul class="cart-item-options">
                        <li><a href="{% url 'cart:cart_remove' product.id %}" class="icon-x"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {% endwith %}
              {% endfor %}
              {% endif %}
              <hr class="my-3"/>
              <ul class="list-group list-group-minimal">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Items
                  <span>${{ cart.get_total_price }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Shipping
                  <span>$0.00</span>
                </li>
                {% if cart.coupon %}
                <li class="list-group-item d-flex justify-content-between align-items-center text-red">
                  Discount
                  <span class="text-red">-${{ cart.get_discount|floatformat:"2" }}</span>
                </li>
                {% endif %}
                <li class="list-group-item d-flex justify-content-between align-items-center text-uppercase font-weight-bold">
                  Total to pay
                  <span>${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </section>


   <!-- footer -->
<footer class="bg-dark pb-0 text-white">
    <div class="container">
        <div class="row justify-content-md-between gutter-2">

            <!-- menu -->
            <div class="order-1 col-md-8 col-lg-4">
                <div class="row">
                    <div class="col">
                        <h4 class="eyebrow mb-1">Company</h4>
                        <ul class="menu-list">
                            <li class="menu-list-item"><a href="" class="menu-list-link">Our story</a></li>
                            <li class="menu-list-item"><a href="" class="menu-list-link">Careers</a></li>
                            <li class="menu-list-item"><a href="" class="menu-list-link">Press</a></li>
                            <li class="menu-list-item"><a href="" class="menu-list-link">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4 class="eyebrow mb-1">Help Center</h4>
                        <ul class="menu-list">
                            <li class="menu-list-item"><a href="" class="menu-list-link">Shipping</a></li>
                            <li class="menu-list-item"><a href="" class="menu-list-link">Returns</a></li>
                            <li class="menu-list-item"><a href="" class="menu-list-link">Payment</a></li>
                            <li class="menu-list-item"><a href="" class="menu-list-link">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- subscribe -->


            <!-- settings -->
            <div class="order-3 order-md-2 order-lg-3 col-md-4 col-lg-3">
                <h4 class="eyebrow mb-1">Region & Currency</h4>
                <div class="select-frame mb-2">
                    <select class="custom-select custom-select-lg mb-2" id="countrySelect2">
                        <option value="1">United States</option>
                        <option value="2">Germany</option>
                        <option value="3">France</option>
                    </select>
                </div>
                <div class="select-frame">
                    <select class="custom-select custom-select-lg" id="curencySelect2">
                        <option value="1">USD</option>
                        <option value="2">EUR</option>
                        <option value="3">RUB</option>
                    </select>
                </div>
                <ul class="list list--horizontal mt-2">
                    <li><img src="{% static 'shop/images/demo/visa-1.svg' %}" class="payment" alt="Image"></li>
                    <li><img src="{% static 'shop/images/demo/master-card-1.svg' %}" class="payment" alt="Image"></li>
                    <li><img src="{% static 'shop/images/demo/amex-1.svg' %}" class="payment" alt="Image"></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'shop/js/vendor.min.js' %}"></script>
<script src="{% static 'shop/js/app.js' %}"></script>
</body>
</html>